.header{
    display: grid;
    grid-template-columns: 15rem repeat(5, 1fr);
    grid-template-rows: min-content min-content min-content;
    grid-column: 2 / 12;
    grid-row: 1 / -1;
    grid-row-gap: 2.5rem;
    // background-color: lightgray;

    .navbar{
        grid-column: 1 / -1;
        display: grid;

        &__item,
        &__tagline{
            padding: 1.3rem 0;
            font-size: 1.2rem;

        }
        &__item{
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        &__tagline{
            display: grid;
            grid-row: 1 / 2;
            grid-column: 5 / 6;
            grid-template-columns: max-content min-content 1fr;
            grid-column-gap: 15px;
            transform: translateX(45px);
            align-items: center;
            &::after{
                content: "";
                height: 0.2rem;
                width: 6rem;
                background-color: red;
                display: block;
                transform: translateX(-10px);
            }
            span{
                transform: translateX(-10px);
                color: $color-yellow;
            }
        }
    }
    &__letter{
        font-weight: 800;
        font-size: 35rem;
        line-height: 0.8;
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        overflow: hidden;
        direction: rtl;
        color: $color-dark-grey;
        padding-top: 5rem;
    }
    &__head-main{
        grid-column: 2 / 4;
        grid-row: 2 / 4;
        font-size: 6.5rem;
        align-self: end;
        line-height: 1;
        span{
            font-weight:800;
            color: $color-yellow;
        }
    }
    &__side-headings{
        grid-column: 5 / 7;
        grid-row: 3 / 4;
        width: 75%;
    }
    &__head-submain{
        padding-bottom: 1.2rem;
    }
    &__content{
        font-size: 1.2rem;
    }

}